*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}
.container{
    width: 95%;
    margin: 0 auto;
    padding: 0 5px;
}
nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.object{
    object-fit: cover;
    background: linear-gradient(grey, rgb(214, 211, 211));
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.width{
    width: 100%;
    height: 100%;
}
.underline{
    text-decoration: underline;
}
.detail{
    max-width: 800px;
    margin: 0 auto;
}
.padding{
    padding: 10px ;
}
input{
    border: none;
    outline: none;
    color: rgb(54, 50, 50);
    padding-left: 12px;
    margin-bottom: 25px;
}
.button{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.block{
    flex-direction: column;
    display: flex;
}